<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com._1c.g5.v8.dt.bsl.externalBslValidator">
      <externalValidator
            class="com.github.otymko.dt.bsl.lsconnector.BSLValidator">
      </externalValidator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.github.otymko.dt.bsl.lsconnector.ui.PluginPreferencePage"
            id="com.github.otymko.dt.bsl.lsconnector.plugin.page"
            name="Коннектор BSLLS">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.github.otymko.dt.bsl.lsconnector.ui.PluginPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
